<h3>Create your survey</h3>

<form action="/survey/create" method="post">
  <div class="form-group">
    <label for="title">Survey Title</label>
    <input type="text" name="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="num_of_text_questions">How many text questions</label>
    <input id="num_of_text_questions" type="text" name="num_of_text_questions" class="form-control">
  </div>
  <div class="form-group">
    <label for="num_of_radio_questions">How many radio button questions</label>
    <input id="num_of_radio_questions" type="text" name="num_of_radio_questions" class="form-control">
  </div>
  <div class="form-group">
    <label for="num_of_checkbox_questions">How many checkbox questions</label>
    <input id="num_of_checkbox_questions" type="text" name="num_of_checkbox_questions" class="form-control">
  </div>
  <button type="submit">Proceed</button>
</form>
