<h3>Success!</h3>
<br>

<h4>You have successfully added the <em><%= @survey.title %></em> survey</h4>
<br>
<h3>See a list of all the surveys</h3>
<a href="/survey/all"><span class="btn btn-info">Go!</span></a>

<h3>Edit the survey</h3>
<a href="/survey/<%= @survey.id %>/edit"><span class="btn btn-info">Go!</span></a>
